::selection {
  color: theme('colors.white');
  background: theme('colors.action');
}

/* Scroll */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: theme('colors.secbackground');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.action');
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.action');
}
